@{
  ViewData["Title"] = "Koszyk";
}

<div class="cart__empty">
  <svg class="cart__empty-icon" viewBox="0 0 32 32">
    <use xlink:href="/assets/svg/sprite.svg#icon-cart"></use>
  </svg>

  <div class="cart__empty-title">
    Twój koszyk jest pusty :(
  </div>

  <div class="cart__empty-description">
    Dodaj jakąś pozycje, zaczynając tu:
  </div>

  <div class="cart__empty-button">
    <a href="/Search" class="button button--secondary button--medium">Przeglądaj pozycje</a>
  </div>

</div>