@{
  ViewData["Title"] = "Sukces";
}

<div class="checkout__result">
  <svg class="checkout__result-icon" viewBox="0 0 32 32">
    <use xlink:href="/assets/svg/sprite.svg#icon-heart"></use>
  </svg>

  <div class="checkout__result-title">
    Dziękujemy za zakupy :)
  </div>

  <div class="checkout__result-description">
    Twoje zamówienie zostało złożone
  </div>

  <div class="checkout__result-button">
    <a href="/Search" class="button button--medium">Przeglądaj pozycje</a>
  </div>

</div>

<script src="~/js/checkoutSuccess.js"></script>
