:root {
  //Colors
  --color-primary: #ffc533;
  --color-primary-light: #ffdf68;
  --color-primary-dark: #f8974e;

  --color-secondary: #609bfb;
  --color-secondary-dark: #283f66;

  --color-grey: #898787;
  --color-grey-light: #c4c4c4;
  --color-grey-lightest: #e5e5e5;

  --color-white: #ffffff;
  --color-white-dark: #f5f5f5;
  --color-black: #000000;

  --color-google: #3f7ee8;
  --color-warning: #c11212;

  --color-primary-light-opacity: rgba(255, 223, 104, 0.15);
}
