<footer class="footer">
    <div class="footer__container wrapper">
        <div class="footer__side footer__side--left">
            <a href="\" class="footer__logo">Czytnik</a>
            <p class="footer__paragraph">
                Zapraszamy do księgarni internetowej Czytnik. W naszej ofercie znajdziesz szeroki asortyment książek.
            </p>
            <ul class="footer__contact">
                <li class="footer__contact-item">
                    <svg class="footer__contact-icon icon" viewBox="0 0 32 32">
                        <use xlink:href="/assets/svg/sprite.svg#icon-phone"></use>
                    </svg>
                    <a href="tel:+123456123">123-456-123</a>
                </li>
                <li class="footer__contact-item">
                    <svg class="footer__contact-icon icon" viewBox="0 0 32 32">
                        <use xlink:href="/assets/svg/sprite.svg#icon-envelope"></use>
                    </svg>
                    <a href="mailto:info@email.com">info@email.com</a>
                </li>
            </ul>
        </div>
        <div class="footer__side footer__side--center">
            <p class="footer__copyright">&copy; Czytnik.pl 2022 - Wszystkie prawa zastrzeżone</p>
        </div>
        <div class="footer__side footer__side--right">
            <h3 class="footer__heading">Szybkie linki</h3>
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a href="/Cart">Koszyk</a>
                </li>
                <li class="footer__nav-item">
                    <a href="/Categories">Kategorie</a>
                </li>
                <li class="footer__nav-item">
                    <a href="/Search">Przeglądaj</a>
                </li>
                @* <li class="footer__nav-item">
                    <a href="/Blog">Blog</a>
                </li>
                <li class="footer__nav-item">
                    <a href="/Home/Kontakt">Kontakt</a>
                </li> *@
                <li class="footer__nav-item">
                    <a href="/Login">Zaloguj / Rejestracja</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script src="~/js/focusSearch.js"></script>
