<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Czytnik</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
</head>

<body>
    <div class="blur js-blur"></div>

    <vc:navigation />
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <vc:footer />

    <script src="~/js/mobileNavigation.js" asp-append-version="true"></script>
    <script src="~/js/cartNavigation.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
