@using Czytnik_Model.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<section class="wrapper error">
    <h1 class="error__heading">Coś poszło nie tak</h1>
    <h2 class="error__info">Nie możemy znaleźć strony, której szukasz. Przepraszamy.</h2>
    <a class="button button--secondary button--medium" href="/">Powrót na stronę główną</a>
</section>